* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #FF451B;
  --secondary-color: #222222;
  --tertiary-color: #888888;
  --quaternary-color: #FFD7CE;
  --quinary-color: #ffffff;
  --dark-color: #353535;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

nav {
  padding: 30px 0 !important;
  position: fixed;
}
nav .nav-link {
  color: #3B5999;
  font-size: 25px;
  margin: 0 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
nav .nav-link:hover {
  color: var(--primary-color);
}
nav .nav-button a {
  padding: 15px 26px;
  background-color: #FF451B;
  color: aliceblue;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--semibold-font-weight);
  margin-left: 40px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #FF451B;
  --secondary-color: #222222;
  --tertiary-color: #888888;
  --quaternary-color: #FFD7CE;
  --quinary-color: #ffffff;
  --dark-color: #353535;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

#banner {
  padding: 40px 0;
}
#banner .banner-text {
  position: relative;
}
#banner .banner-text::after {
  position: absolute;
  content: "";
  top: -120px;
  right: -820px;
  height: 146px;
  width: 114px;
  background: url(../images/banner-polygen.png) no-repeat;
  animation: polygen;
  -webkit-animation: polygen 8s infinite alternate-reverse;
}
@keyframes polygen {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-65px);
    -webkit-transform: translateX(-65px);
    -moz-transform: translateX(-65px);
    -ms-transform: translateX(-65px);
    -o-transform: translateX(-65px);
  }
}
#banner .banner-text::before {
  position: absolute;
  content: "";
  bottom: 30px;
  left: -140px;
  height: 146px;
  width: 114px;
  background: url(../images/banner-polygen.png) no-repeat;
  animation: polygen2 8s infinite alternate;
  -webkit-animation: polygen2 8s infinite alternate;
}
@keyframes polygen2 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(-65px);
    -webkit-transform: translateY(-65px);
    -moz-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    -o-transform: translateY(-65px);
  }
}
#banner .banner-text h5 {
  color: var(--primary-color);
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: var(--bold-font-weight);
}
#banner .banner-text h3 {
  font-size: 120px;
  font-family: var(--primary-font);
  font-weight: var(--bold-font-weight);
  color: var(--secondary-color);
  line-height: 100%;
}
#banner .banner-text p {
  color: var(--tertiary-color);
  font-size: 24px;
  padding-right: 50px;
  line-height: 130%;
  margin-top: 30px;
}
#banner .banner-text a {
  height: 105px;
  width: 105px;
  line-height: 105px;
  background-color: #FFB324;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  color: var(--quinary-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  float: left;
  margin-top: 25px;
}
#banner .banner-text h4 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: var(--bold-font-weight);
  margin-top: 80px;
  margin-left: 120px;
}
#banner .banner-text .banner-animation {
  position: relative;
}
#banner .banner-text .banner-animation .circle {
  position: absolute;
  top: -100px;
  right: -850px;
  height: 40px;
  width: 40px;
  border: 6px solid #FFC7C7;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: circle 5s infinite alternate-reverse;
  -webkit-animation: circle 5s infinite alternate-reverse;
}
@keyframes circle {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
#banner .banner-text .banner-animation .circle2 {
  position: absolute;
  top: 0px;
  right: -730px;
  height: 20px;
  width: 20px;
  border: 4px solid #AEDF8E;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: circle 5s infinite alternate-reverse;
  -webkit-animation: circle 5s infinite alternate-reverse;
}
#banner .banner-text .banner-animation .circle3 {
  position: absolute;
  top: -210px;
  right: -30px;
  height: 20px;
  width: 20px;
  border: 4px solid #AEDF8E;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: circle 5s infinite alternate-reverse;
  -webkit-animation: circle 5s infinite alternate-reverse;
}
#banner .banner-text .banner-animation .circle4 {
  position: absolute;
  top: -540px;
  left: -130px;
  height: 20px;
  width: 20px;
  border: 4px solid #D2D7FF;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: circle 5s infinite alternate-reverse;
  -webkit-animation: circle 5s infinite alternate-reverse;
}
#banner .banner-text .banner-animation .box {
  position: absolute;
  top: -400px;
  left: -100px;
  height: 30px;
  width: 30px;
  border: 5px solid #AEDF8E;
  animation: box 20s infinite linear;
  -webkit-animation: box 20s infinite linear;
}
@keyframes box {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
#banner .banner-text .banner-animation .box2 {
  position: absolute;
  bottom: -170px;
  right: -800px;
  height: 30px;
  width: 30px;
  border: 5px solid #AEDF8E;
  animation: box 15s infinite linear;
  -webkit-animation: box 15s infinite linear;
}
#banner .banner-text .banner-animation .triangle {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 20px dashed #666;
  border-bottom-color: #000;
  right: 10px;
  top: 10px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: triangle 10s infinite alternate;
  -webkit-animation: triangle 10s infinite alternate;
}
#banner .banner-text .banner-animation .triangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 18px dashed #ffffff;
  right: 1px;
  top: -18px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
@keyframes triangle {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
#banner .banner-img {
  position: relative;
  margin-top: 80px;
}
#banner .banner-img::after {
  position: absolute;
  content: "";
  top: 30px;
  right: 40px;
  height: 486px;
  width: 422px;
  background-color: #FFB324;
  transform: rotate(-39deg);
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
  z-index: -1;
  animation: X-icon 20s infinite alternate-reverse;
  -webkit-animation: X-icon 20s infinite alternate-reverse;
}
@keyframes X-icon {
  from {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
  }
  to {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #FF451B;
  --secondary-color: #222222;
  --tertiary-color: #888888;
  --quaternary-color: #FFD7CE;
  --quinary-color: #ffffff;
  --dark-color: #353535;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

#card {
  margin: 80px 0;
}
#card .card-inner {
  background-color: #ffffff;
  height: 110px;
  width: 190px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 4px 4px 6px -3px rgba(112, 104, 104, 0.65);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
#card .card-inner:hover {
  background-color: #FF451B;
  box-shadow: 4px 4px 6px -3px rgba(112, 104, 104, 0.65);
}
#card .card-inner a {
  font-size: 26px;
  color: var(--primary-color);
  margin-right: 10px;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#card .card-inner h3 {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: var(--bold-font-weight);
  font-family: var(--primary-font);
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-top: 8px;
}
#card .card-inner:hover h3 {
  color: var(--quinary-color);
}
#card .card-inner:hover a {
  color: var(--quinary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #FF451B;
  --secondary-color: #222222;
  --tertiary-color: #888888;
  --quaternary-color: #FFD7CE;
  --quinary-color: #ffffff;
  --dark-color: #353535;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

#about {
  margin: 120px 0;
}
#about .about-wrapper {
  padding: 150px 50px 230px 50px;
  box-shadow: 0px 2px 14px 0px rgba(170, 170, 170, 0.75);
}
#about .about-wrapper .about-left {
  position: absolute;
}
#about .about-wrapper .about-left .about-inner {
  position: absolute;
  top: 100px;
  left: 260px;
  height: 483px;
  width: 275px;
  background-color: #FF451B;
  border-radius: 37px;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  -ms-border-radius: 37px;
  -o-border-radius: 37px;
  padding: 30px 25px 0 25px;
}
#about .about-wrapper .about-left .about-inner h4 {
  color: var(--quaternary-color);
  font-size: 14px;
  font-family: var(--primary-font);
}
#about .about-wrapper .about-left .about-inner h3 {
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: var(--semibold-font-weight);
  color: var(--quinary-color);
}
#about .about-wrapper .about-left .about-inner h6 {
  color: var(--quaternary-color);
}
#about .about-wrapper .about-right h3 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: var(--bold-font-weight);
  font-size: 21px;
}
#about .about-wrapper .about-right h2 {
  font-family: var(--primary-font);
  font-weight: var(--bold-font-weight);
  font-size: 47px;
  color: #000000;
  line-height: 130%;
  margin: 18px 0;
}
#about .about-wrapper .about-right h4 {
  font-family: var(--primary-font);
  font-weight: var(--medium-font-weight);
  line-height: 140%;
  color: #000000;
  font-size: 21px;
}
#about .about-wrapper .about-right p {
  font-family: var(--primary-font);
  color: var(--tertiary-color);
  margin: 25px 0;
}
#about .about-wrapper .about-right a {
  padding: 15px 26px;
  background-color: #FF451B;
  color: aliceblue;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--semibold-font-weight);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #FF451B;
  --secondary-color: #222222;
  --tertiary-color: #888888;
  --quaternary-color: #FFD7CE;
  --quinary-color: #ffffff;
  --dark-color: #353535;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

#resume {
  margin: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #FF451B;
  --secondary-color: #222222;
  --tertiary-color: #888888;
  --quaternary-color: #FFD7CE;
  --quinary-color: #ffffff;
  --dark-color: #353535;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

#testimonial {
  margin: 80px 0;
}
#testimonial .testimonial-wrapper {
  padding: 150px 50px 130px 50px;
  box-shadow: 0px 2px 14px 0px rgba(170, 170, 170, 0.75);
}
#testimonial .testimonial-wrapper h3 {
  font-size: 21px;
  font-weight: var(--bold-font-weight);
  color: var(--primary-color);
  font-family: var(--primary-font);
}
#testimonial .testimonial-wrapper h2 {
  font-size: 47px;
  font-weight: var(--bold-font-weight);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  margin: 40px 0;
}
#testimonial .testimonial-wrapper .testimonial-card {
  margin-top: 50px;
  padding: 100px 50px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.158);
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#testimonial .testimonial-wrapper .testimonial-card:hover {
  box-shadow: 0px 2px 14px 0px rgba(170, 170, 170, 0.75);
}
#testimonial .testimonial-wrapper .testimonial-card p:first-child {
  font-size: 21px;
  font-family: var(--primary-font);
  line-height: 140%;
  font-style: italic;
}
#testimonial .testimonial-wrapper .testimonial-card .testimonial-inner {
  display: flex;
  margin-top: 40px;
  text-align: center;
}
#testimonial .testimonial-wrapper .testimonial-card .testimonial-inner img {
  margin-right: 20px;
  width: 100%;
}
#testimonial .testimonial-wrapper .testimonial-card .testimonial-inner .testimonial-innerPro {
  margin: 15px 0 0 15px;
}
#testimonial .testimonial-wrapper .testimonial-card .testimonial-inner .testimonial-innerPro h3 {
  font-size: 21px;
  font-weight: var(--bold-font-weight);
  color: var(--secondary-color);
}
#testimonial .testimonial-wrapper .testimonial-card .testimonial-inner .testimonial-innerPro p {
  font-size: 16px;
  text-align: start;
  color: var(--tertiary-color);
}
#testimonial .testimonial-wrapper .testimonial-card .testimonial-comma {
  position: absolute;
  bottom: 120px;
  right: 50px;
}/*# sourceMappingURL=style.css.map */